.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(250, 249, 247);
  width: 700px; 
  padding: 35px;
  gap: 10px;
}

.form h1 {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.label textarea {
  width: 300px;
  height: 100px;
}

select {
  height: 25px;
}


