.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(250, 249, 247);
  width: 700px; 
  padding: 25px;
}

.button {
  margin-top: 10px;
}

.label textarea {
  margin-left: 20px;
}