.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-weight: bold;
  width: 100%;
}

.image { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul .profile {
  display: flex;
  justify-content: flex-start;
}

ul .navBar {
  display: flex;
  justify-content: flex-end;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.container > ul {
  text-decoration: none;
  display: flex;
  gap: 30px;
  list-style: none;
  color: black;
  display: flex;
  margin: 0;
  padding: 16px 32px;
  width: 100%;
  font-size: 22px;
}

.container li {
  display: flex;
}

nav {
  width: 100%;
}
